
$color-crema: #f5f5dc;
$color-marron: #21130d;
$letra-subtitulos:'Lobster', cursive;
$font-family:'Cabin', sans-serif;
$letra-parrafos:'Dosis', sans-serif;
$padding: 1rem;
$letra-media: 1rem;
$letra-grande:2rem;
$texto-centrado:center;